<!DOCTYPE html>
<html>
<head>
    
    <!-- Basic meta info
    ==================== -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title YemekyApp</title>

    <!-- Favicon
    ============ -->
    <link rel="apple-touch-icon" sizes="57x57" href="~/Content/images/favicon/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/images/favicon/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/images/favicon/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/images/favicon/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/images/favicon/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/images/favicon/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/images/favicon/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/images/favicon/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/images/favicon/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="~/Content/images/favicon/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/favicon/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/images/favicon/favicon-96x96.png" />

    <!-- CSS files
    ============== -->
    <link rel="stylesheet" type="text/css" media="all" href="~/Content/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" />
    <!-- Modernizr file
    =================== -->
    <script charset="utf-8" type="text/javascript " src="~/Content/js/modernizr.custom.js"></script>

    <!--Main Menu File-->
    <link rel="stylesheet" type="text/css" media="all" href="~/Content/css/webslidemenu.css" />

    <!--Main Menu File-->
    <!-- font awesome -->
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css" />
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">


</head>
<body>


    <!-- Splash Screen
    ================== -->
    <div id="splash"></div>

    <div class="wsmenucontainer pm_buttoncolor purple clearfix">
        <div class="overlapblackbg "></div>

        <div class="wrapper clearfix">
            <a id="wsnavtoggle" class="animated-arrow"><span></span></a>
        </div>

        <!--Main Menu HTML Code-->
        <nav class="wsmenu clearfix">
            <ul class="mobile-sub wsmenu-list clearfix">
                <li>
                    <div class="logoforwhite" id="logo">
                        <div class="container text-center wow pulse">
                            <img src="~/Content/images/logo-white.svg" alt="logo" />
                            <br />
                            <span style="font-family: 'Quirlycues'; font-size: 50px; font-weight: normal; padding-top: 24px; color: #f9f9f9;">Hosgeldiniz</span>

                            @User.Identity.Name
                        </div>
                    </div>
                    <div class="logofordark"><img src="~/Content/images/dummy-logo-for-darkbg.png" alt="" /> </div>
                </li>
                <li><a href="/" class="active"><i class="fa fa-home"></i><span class="hometext">&nbsp;&nbsp;Anasayfa</span></a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="@Url.Action("LogOut","Home")"><i class="fa fa-key"></i>&nbsp;&nbsp; Çıkış Yap</a></li>

                }
                else
                {
                    <li><a href="/Home/Login"><i class="fa fa-user-circle"></i>&nbsp;&nbsp;Login<span class="arrow"></span></a></li>

                    <li><a href="/register"><i class="fa fa-user-plus"></i>&nbsp;&nbsp;Register<span class="arrow"></span></a></li>

                }
            </ul>
        </nav>
        <!--Menu HTML Code-->
        <!-- Website Logo
        ================= -->
        <section id="logo">
            <div class="container text-center wow pulse">
                <img src="~/Content/images/logo-white.svg" alt="logo" />
                <br />
                <h1>YemekyApp</h1>
            </div>
        </section>
    </div>




    @RenderBody()



    <footer>
        <div class="container">
            <div class="row">
                <!-- About -->
                <div class="col-md-6 col-sm-12 text-center">
                    <h3>About</h3>
                    <div class="footer-about">
                        "A recipe book is one that you use daily and what we in our family
                        call 'a living book' — a book that you use all the time,
                        not just read once and discard on the shelf.
                        Recipes are by nature derivative and meant to be shared -
                        that is how they improve, are changed, how new ideas are formed. ”
                    </div>
                </div>
                <!-- Author -->
                <div class="col-md-6 col-sm-12 text-center">
                    <div class="footer-author">
                        Made with
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        love by
                        <a href="https://jraleman.com/" target="_blank">Jose Ramon</a>.
                    </div>
                </div>
            </div>
        </div>
    </footer>
 

    <!-- JavaScript files
    ===================== -->
    <script charset="utf-8" src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script charset="utf-8" src="~/Content/js/bootstrap.min.js"></script>
    <script charset="utf-8" src="~/Content/js/wow.min.js"></script>
    <script charset="utf-8" src="~/Content/js/scripts.js"></script>
    <script type="text/javascript" src="~/Content/js/webslidemenu.js"></script>
    @*<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>*@
    <script src="~/Content/slideout.min.js"></script>
    
<script>
    //var slideout = new Slideout({
    //    'panel': document.getElementById('wsmenu'),
    //    'menu': document.getElementById('mobile-sub'),
    //    'padding': 256,
    //    'tolerance': 70
    //});
</script>

    <!--For Demo Only (Remove below css file and Javascript) -->
<script type='text/javascript'>
    $(document).ready(function () {
        $(".gry, .blue, .green, .red, .orange, .yellow, .purple, .pink, .whitebg, .tranbg").on("click", function () {
            $(".wsmenu")
                .removeClass()
                .addClass('wsmenu pm_' + $(this).attr('class'));
        });

        $(".blue-grdt, .gry-grdt, .green-grdt, .red-grdt, .orange-grdt, .yellow-grdt, .purple-grdt, .pink-grdt").on(
            "click",
            function () {
                $(".wsmenu")
                    .removeClass()
                    .addClass('wsmenu pm_' + $(this).attr('class'));
            });
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>

@RenderSection("scripts", required: false)
<!--For Demo Only (End Removable) -->
</body>
</html>
